@model EnterpriseGatewayPortal.Web.ViewModel.QrCredential.QrCredentialViewModel
@using EnterpriseGatewayPortal.Web.Models

@{
    ViewData["Title"] = " Credentials New";
    ViewBag.BreadCrumb = new List<BreadCrumbModel>
    { 
        new BreadCrumbModel { Title = "Qr Credentials",Url = Url.Action("List","QrCredential") ,IconKey="QRML"},
        new BreadCrumbModel { Title = "Credential Details", Url = "",IconKey="view"}
    };
}

<style>

    /*Icon progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: #455A64;
        padding-left: 0px;
        /* margin-top: 30px; */
        width: 144%;
    }

        #progressbar li {
            list-style-type: none;
            font-size: 13px;
            width: 23%;
            float: left;
            position: relative;
            font-weight: 400;
        }

        #progressbar .step0:before {
            font-family: FontAwesome;
            content: "\f10c";
            color: #fff;
        }

        #progressbar li:before {
            width: 40px;
            height: 40px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            background: #C5CAE9;
            border-radius: 50%;
            margin: auto;
            padding: 0px;
        }

        /*ProgressBar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 12px;
            background: #C5CAE9;
            position: absolute;
            left: 0;
            top: 16px;
            z-index: -1;
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: absolute;
            left: -50%;
        }

        #progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after {
            left: -50%;
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            position: absolute;
            left: 50%;
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        /*Color number of the step and the connector before it*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: mediumseagreen;
        }

        #progressbar li.active:before {
            font-family: FontAwesome;
            content: "\f00c";
        }

    .select2-container {
        width: 100% !important;
    }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

    .selection {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #555555b3;
        font-size: 14px;
        font-family: inherit;
    }

    .custom-check-box {
        margin-right: 5px;
        -webkit-print-color-adjust: exact;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        position: relative !important;
        width: 1.125rem;
        height: 1.125rem;
        background-color: #fff;
        border: .125rem solid rgba(0,0,0,0.3);
    }

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        float: right;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        margin-bottom: 35px;
        margin-top: -60px;
    }
    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        /* top: -43%; */
        /* bottom: -28%; */
        margin-bottom: 0px;
        margin-top: -60px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .popup:hover + .popuptext {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .custom-check-box:hover {
        outline: auto;
        outline-color: #5d9ceca3;
    }

    .classshide {
        display: none !important;
    }

    .select2-container {
        width: 100% !important;
    }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

    .selection {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #555555b3;
        font-size: 14px;
        font-family: inherit;
    }

    .custom-check-box {
        margin-right: 5px;
        -webkit-print-color-adjust: exact;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        position: relative !important;
        width: 1.125rem;
        height: 1.125rem;
        background-color: #fff;
        border: .125rem solid rgba(0,0,0,0.3);
    }

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        float: right;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        margin-bottom: 35px;
        margin-top: -60px;
    }
    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        /* top: -43%; */
        /* bottom: -28%; */
        margin-bottom: 0px;
        margin-top: -60px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .popup:hover + .popuptext {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .custom-check-box:hover {
        outline: auto;
        outline-color: #5d9ceca3;
    }

    .classshide {
        display: none !important;
    }

    .logo-container {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 10px;
        background: #f9f9f9;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
        width: 146px;
        height: 135px;
    }

    .logo-img {
        max-width: 180px;
        max-height: 180px;
        border-radius: 5px;
        padding-top: 14px;
        padding-left: 31px;
        width: 108px;
    }

    #configTree {
        max-height: 400px;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 8px;
        background: #f9f9f9;
    }

    /* Style the jsTree items */
    .jstree-anchor {
        font-size: 16px;
        color: #333;
    }

    .jstree-icon {
        color: #007bff !important;
    }

    #AttributeTable tbody tr:nth-child(odd) {
        background-color: transparent !important;
    }

    /*   ////////////////////////////////////////////////////////////////////////////// */
    #card_custom_table {
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 0px 6px 0 rgb(0 0 0 / 20%);
    }

    .table {
        border:1px solid #E0E0E0 !important;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        /*  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05),
        0 -2px 6px rgba(0, 0, 0, 0.05),
        2px 0 6px rgba(0, 0, 0, 0.05),
        -2px 0 6px rgba(0, 0, 0, 0.05);  */
    }

        .table th {
            /* background-color: #e9f3ff; */
            background-color: #f0f4f8;
            font-weight: 600;
            border: none;
        }

        .table td {
            background-color: #fff;
            vertical-align: middle;
        }

    .table-hover tbody tr:hover {
        background-color: #f1faff;
    }

    .table thead th {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .table-container {
        flex: 1;
        overflow-y: auto;
        position: relative;
    }

    /* Fix header row */
    .table thead th {
        position: sticky;
        top: 0;
        background: #f0f4f8;
        z-index: 2;
        text-align: center;
        padding: 12px;
    }

    /* Style table cells */
    .table td {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #E0E0E0;
    }

    .table-bordered th {
        border: 1px solid #dee2e6;
    }

    #PrivateAttributeTable tbody tr:nth-child(odd) {
        background-color: transparent !important;
    }

    #PublicAttributeTable tbody tr:nth-child(odd) {
        background-color: transparent !important;
    }

    /* First <th> in the header row */
    table thead th:first-child {
        border-top-left-radius:12px;
        border:none;
    }

/*     Last <th> in the header row */
    table thead th:last-child {
        border-top-left-radius: 12px;
        border: none;
    }

/*     Last <td> of every row in tbody */
    table tbody tr td:last-child {
        text-align: right;
        color: #92722a;
    }

/*     First <td> of the last row in tbody */
    table tbody tr:last-child td:first-child {
        border: none;
        border-top:1px solid #E0E0E0;
    }

    table tbody tr:last-child td:last-child {
        border: none;
        border-top: 1px solid #E0E0E0;
        color:black !important;
    }

    .scroll-wrapper {
        border: 1px solid #ddd;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-height: 332px; 
    }

    .scroll-header {
        background: #F5F5F5;
        font-size: 14px !important;
        font-weight: 500;
        color: black;
        font-family: 'Inter';
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .scroll-body {
        overflow-y: auto;
        max-height: 230px;
    }
</style>

@{
    await Html.RenderPartialAsync("_AlertBox");
}
<div class="classshide">
    <div id='viewer'></div>
</div>
<div class="row" id="spacingCss">

    <div class="col-md-12 plr">
        <div class="card-custom">
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="CreateData">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <div class="form-group col-md-6" style="float:left;">
                                <input asp-for="Id" class="form-control" hidden />

                                <div class="form-group">
                                    <label asp-for="CredentialName" class="col-form-label s3">Credential Name</label>
                                    <input asp-for="CredentialName" class="form-control" readonly />

                                    <span asp-validation-for="CredentialName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DisplayName" class="col-form-label s3">Display Name</label>
                                    <input asp-for="DisplayName" class="form-control" readonly />

                                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                                </div>

                                @if (Model.Status != "ACTIVE")
                                {
                                    <div class="form-group">
                                        <label asp-for="createdDate" class="col-form-label s3">CreatedDate</label>
                                        <input asp-for="createdDate" class="form-control" readonly />
                                        <span asp-validation-for="createdDate" class="text-danger"></span>
                                    </div>
                                }

                            </div>
                            <div class="form-group col-md-6" style="float:right;">
                                <div class="form-group">
                                    <label asp-for="Status" class="col-form-label s3">Status</label>
                                    <input asp-for="Status" class="form-control" rows="1" readonly />
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                    @if (Model.Status != "ACTIVE")
                                    {

                                        <div class="d-flex">
                                            <h5 id="statusMessage">Status Bar <span class="text-primary font-weight-bold"></span></h5>
                                        </div>
                                        <div class="form-group">
                                            <!--<div class="container">
        <div class="card d-flex flex-row">
            <div class="flex-grow-1">
                <div class="row d-flex justify-content-center">
                    <div class="col-12" style="margin-bottom: -10px;">
                        <ul id="progressbar" class="text-center">
                            <li class="active step0">Credential Initiate</li>-->
                                            @* <li class="active step0">Viewed</li> *@
                                            <!--<li class="active step0">Test credential processed</li>
                            <li class="active step0">Sent for Activation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
                                            <partial name="_Stepper"
                                                     model="@(new List<StepModel> {
                                                     new StepModel { StepNumber = 1, StepName = "Credential Intiate",   Status = "success" },
                                                     new StepModel { StepNumber = 2, StepName = "Test credential processed", Status = "success" },
                                                     new StepModel { StepNumber = 3, StepName = "Sent for Activation", Status = "success" }
                                                 })" />
                                        </div>
                                    }
                                </div>
                                @if (Model.Status == "ACTIVE")
                                {
                                    <div class="form-group">
                                        <label asp-for="createdDate" class="col-form-label s3">CreatedDate</label>
                                        <input asp-for="createdDate" class="form-control" readonly />
                                        <span asp-validation-for="createdDate" class="text-danger"></span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Full width for Data Attributes table -->
                    <div class="form-row" style=" margin-right: 20px;">
                        <div class="form-group col-md-12" style="margin-left:18px;margin-right:20px;">
                            <label class="col-form-label s3">Public Attributes</label>
                            <div class="scroll-wrapper" style="margin-left: 15px;max-height:222px">
                                <div class="scroll-body" style="max-height: 230px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
                                    <table id="PublicAttributeTable" class="table-bordered table-hover table-checkable order-column full-width table" style="margin-bottom:0px;border-collapse:separate;margin-top:0px!important;">
                                        <thead style="position:sticky !important;top:0;">
                                            <tr style="background-color: #F5F5F5; border-bottom: 2px solid #D3D3D3;">
                                                <th style="padding: 12px; text-align: center; border-right: 1px solid #E0E0E0;">Attribute</th>
                                                <th style="padding: 12px; text-align: center; border-right: 1px solid #E0E0E0;">Display Name</th>
                                                <th style="padding: 12px; text-align: center;">Data Type</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataAttributes.publicAttributes)
                                            {
                                                <tr style="border-bottom: 1px solid #E0E0E0;">
                                                    <td style="padding: 10px; border-right: 1px solid #E0E0E0; text-align: center;">@item.attribute</td>
                                                    <td style="padding: 10px; border-right: 1px solid #E0E0E0; text-align: center;">@item.displayName</td>
                                                    <td style="padding: 10px; text-align: center;">
                                                        @{
                                                            string dataTypeName = item.dataType switch
                                                            {
                                                                1 => "Binary",
                                                                2 => "Boolean",
                                                                3 => "Integer",
                                                                4 => "String",
                                                                8 => "DateTime",
                                                                _ => "Unknown"
                                                            };
                                                            @dataTypeName
                                                        }
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12" style="margin-left:18px;margin-right:20px;">
                            <label class="col-form-label s3">Private Attributes</label>
                            <div class="scroll-wrapper" style="margin-left: 15px;max-height:222px;">
                                <div class="scroll-body" style="max-height: 230px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
                                    <table class="table-hover" id="PrivateAttributeTable">
                                        <thead class="scroll-header" style="position: sticky !important; top: 0; z-index: 1;">
                                            <tr style="background-color: #F5F5F5; border-bottom: 2px solid #D3D3D3;">
                                                <th style="padding: 12px; text-align: center; border-right: 1px solid #E0E0E0;">Attribute</th>
                                                <th style="padding: 12px; text-align: center; border-right: 1px solid #E0E0E0;">Display Name</th>
                                                <th style="padding: 12px; text-align: center;">Data Type</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataAttributes.privateAttributes)
                                            {
                                                <tr style="border-bottom: 1px solid #E0E0E0;">
                                                    <td style="padding: 10px; border-right: 1px solid #E0E0E0; text-align: center;">@item.attribute</td>
                                                    <td style="padding: 10px; border-right: 1px solid #E0E0E0; text-align: center;">@item.displayName</td>
                                                    <td style="padding: 10px; text-align: center;">
                                                        @{
                                                            string dataTypeName = item.dataType switch
                                                            {
                                                                1 => "Binary",
                                                                2 => "Boolean",
                                                                3 => "Integer",
                                                                4 => "String",
                                                                8 => "DateTime",
                                                                _ => "Unknown"
                                                            };
                                                            @dataTypeName
                                                        }
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="margin-top:15px;">

                                <div class="d-flex justify-content-end">
                                    @* <button type="button" class="btn btn-primary" id="revokeBtn" onclick="RevokeCredentials()">Revoke</button> *@

                                    &nbsp;&nbsp;
                                    <a asp-action="List" class="btn btn-other" style="margin-right:0px !important;">
                                        Cancel
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
<script>

    $(document).ready(function () {

        $("#QR-Manager > a")
            .attr("aria-expanded", "true")
            .addClass("active");

        $("#QR-Manager")
            .addClass("submenu-active show");

        $("#QR-Manager .submenu")
            .addClass("show");

        $('#QR-Create').addClass('active');

        $('#homeMenu').addClass('breadcrumb-item').append('Qr Credential > Credential');
        $('#mainMenu').removeClass('breadcrumb-item');
        $('#subMenu').removeClass('breadcrumb-item');
        $('#QrCredentialsMenu').addClass('active');

        $('#networkOverlay').hide();
        document.getElementById("navigationNetworkOverlay").style.display = "none";

        const parentNavItem = document.querySelector(`[data-section="QRM"] .nav-link`);
        if (parentNavItem) {
            parentNavItem.classList.add("active");
        }

    });



</script>