@model IEnumerable<EnterpriseGatewayPortal.Web.ViewModel.UserClaims.UserClaimsListViewModel>

@{
    ViewData["Title"] = "UserClaims";
}

@{await Html.RenderPartialAsync("_AlertBox");}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">


                        @if (!User.IsInRole("UserClaims Checker"))
                        {
                            <div class="btn-group">
                                <a id="addRow1" asp-action="New" class="btn btn-info greenButton"><i class="fa fa-plus"></i>Add</a>
                            </div>
                        }
                        <div class="btn-group">
                            <a class="btn btn-info greenButton" asp-action="List">
                                <i class="fa fa-refresh"></i>Refresh
                            </a>

                        </div>

                    </div>

                </div>
                <table id="scopesTable" class="table-striped table-bordered table-hover table-checkable order-column full-width table">
                    <thead>
                        <tr>
                            <th>Name</th>
                           
                            <th>Description</th>
                            <th>User Consent</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null || Model.Count() == 0)
                        {
                            <tr>
                                <td style="text-align:center" valign="top" colspan="5" class="dataTables_empty">No record found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX">

                                   
                                    <td>@item.DisplayName</td>
                                    <td>@item.Description</td>
                                    <td>@item.UserConsent</td>
                                    <td class="valigntop">

                                        @if (!User.IsInRole("UserClaims Checker"))
                                        {

                                            <div class="btn-group">
                                                <button class="btn btn-xs deepPink-bgcolor no-margin greenButton" type="button" data-toggle="dropdown"
                                                        aria-expanded="false">
                                                    Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-left" role="menu">
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@item.Id">
                                                            <i class="icon-pencil"></i>Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="js-delete" data-id="@item.Id">
                                                            <i class="fa fa-trash"></i>Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                        else
                                        {

                                            <div class="btn-group">
                                                <button class="btn btn-xs deepPink-bgcolor no-margin greenButton" type="button" data-toggle="dropdown"
                                                        aria-expanded="false">
                                                    Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-left" role="menu">
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@item.Id">
                                                            <i class="icon-pencil"></i>View
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>



                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            var ClaimsLink = document.getElementById('MultiPivotModle').querySelector('.nav-link');
            ClaimsLink.click();
            $('#homeMenu').addClass('breadcrumb-item').append('Digital Authentication > Configuration > UserClaims');
            $('#mainMenu').removeClass('breadcrumb-item');
            $('#subMenu').removeClass('breadcrumb-item');
            $('#UserClaimsMenu').addClass('active');
            $('#networkOverlay').hide();
            var table = $("#scopesTable").DataTable({
                "bLengthChange": false,
                "searching": true
            });

            var table = $("#scopesTable");
            $('#scopesTable').on('click', '.js-delete', function () {
                var deleteButton = $(this);
                var id = deleteButton.attr("data-id");
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want to delete this record",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            cache: false,
                            dataType: 'json',
                            url: '@Url.Action("Delete", "UserClaims")',
                            data: {
                                id: id
                            },
                            beforeSend: function () {
                                $('#overlay').show();
                            },
                            complete: function () {
                                $('#overlay').hide();
                            },
                            success: function () {
                                window.location.reload();
                            },
                            error: ajaxErrorHandler
                        });
                    } else {
                        return false;
                    }
                });

            });
        });

    </script>
}
