@model EnterpriseGatewayPortal.Web.Models.SecurityQuestions.ChangePasswordViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <noscript>Please enable java script in your browser.</noscript>
    <title>Change Password - UAEID</title>
    <link rel="icon" type="image/x-icon" href="~/assets/UAEIDfavicon.png" />
    <link href="~/assets/css/font-awesome-4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <script src="~/global_assets/js/main/jquery.min.js" asp-append-version="true"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/assets/appcss/RegistrationPage.css" asp-append-version="true">
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <script src="~/assets/js/sweetalert2@11.js"></script>

</head>
<body>
    @{
        await Html.RenderPartialAsync("_AlertBox");
    }
    <section class="myform-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="form-area" id="ResetPassword">
                        <div class="header">Set New Password</div>
                        <div class="activationDiv" style="padding: 20px 55px !important; width: 100% !important;">
                            <form id="ChangePwd" asp-action="ChangePassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group">
                                            <input type="hidden" asp-for="Id" />
                                            <input type="hidden" asp-for="isFirstLogin" value="true" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OldPassword" class="col-form-label"></label>
                                            <div class="input-box">
                                                <input asp-for="OldPassword" class="border-right-0 pwd" type="text" required />
                                                
                                                <span toggle="#OldPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NewPassword" class="col-form-label"></label>
                                            <div class="input-box">
                                                <input asp-for="NewPassword" class="border-right-0 pwd" type="text" required />
                                                
                                                <span toggle="#NewPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        

                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" class="col-form-label"></label>
                                            <div class="input-box">
                                                <div class="password-container" style="position: relative; display: inline-block; width:100%;">

                                                    <input asp-for="ConfirmPassword" class="border-right-0 pwd" type="text" required />
                                                   
                                                    <!-- Eye Icon -->
                                                    <span toggle="#ConfirmPassword"
                                                          class="fa fa-fw fa-eye field-icon toggle-password1"
                                                          style="position:absolute; right:10px; top:50%; transform:translateY(-50%); cursor:pointer;">
                                                    </span>

                                                    <!-- SVG Image (same spot, hidden by default) -->
                                                    <span class="match-icon"
                                                          style="display:none; position:absolute; right:10px; top:50%; transform:translateY(-50%);">
                                                        <img src="@Url.Content("~/assets/images/CheckCircle.svg")" alt="Matched" width="18" height="18" />
                                                    </span>
                                                </div>
                                            </div>
                                            <span id="message"></span>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="myform-button" style="margin-top: 0px">
                                    <div class="d-flex justify-content-end">

                                        <button id="ChangePwdBtn" class="btn btn-primary uaeid-primary" type="submit" style="opacity: 0.5;" disabled>
                                            Save
                                        </button>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #message {
            position: absolute;
            left: 0;
            bottom: -25px;
        }

        .pwd {
            -webkit-text-security: disc;
        }

        
    </style>
    <script>

        @if (ViewBag.RedirectToLogin != null && (bool)ViewBag.RedirectToLogin)
        {
            <text>
            var shouldRedirectToLogin = true;
            </text>
        }

        Swal = Swal.mixin({
            customClass: {
                popup: 'custom-swal-popup',
                title: 'custom-swal-title',
                htmlContainer: 'custom-swal-content',
                confirmButton: 'custom-swal-confirm-btn',
                cancelButton: 'custom-swal-cancel-btn'
            },
            buttonsStyling: false,
            didClose: () => {
                if (typeof shouldRedirectToLogin !== 'undefined' && shouldRedirectToLogin) {
                    window.location.href = '@Url.Action("LogoutAndLogin", "UserDashboard")';
                }
            }
        });

        const originalSwalFire = Swal.fire;

        Swal.fire = function (options) {
            if (typeof options === "string") {
                options = { title: options };
            }

            const type = options.icon || options.type || "info";
            let iconHtml = "";

            switch (type) {
                case "info":
                    iconHtml = '<img src="@Url.Content("~/assets/images/Info.svg")" class="custom-swal-icon">';
                    break;
                case "warning":
                    iconHtml = '<img src="@Url.Content("~/assets/images/Warning.svg")" class="custom-swal-icon">';
                    break;
                case "error":
                    iconHtml = '<img src="@Url.Content("~/assets/images/Error.svg")" class="custom-swal-icon">';
                    break;
                case "success":
                    iconHtml = '<img src="@Url.Content("~/assets/images/Success.svg")" class="custom-swal-icon">';
                    break;
                default:
                    iconHtml = "";
            }

            options.iconHtml = iconHtml;
            options.icon = undefined;

            return originalSwalFire.call(this, options);
        };

        $(document).ready(function () {

            $('#NewPassword, #ConfirmPassword').on('keyup', function () {
                if ($('#NewPassword').val() == $('#ConfirmPassword').val()) {
                    if ($('#NewPassword').val() != "" && $('#ConfirmPassword').val() != "") {
                        $('#message').html('Password Matched').css('color', 'green');
                        $('#ChangePwdBtn').attr("disabled", false).css('opacity', '1');

                        // Hide eye, show SVG
                        $('.toggle-password1').hide();
                        $('.match-icon').show();
                    } else {
                        $('#message').html('').css('color', 'green');
                        $('.toggle-password1').show();
                        $('.match-icon').hide();
                    }
                } else {
                    $('#message').html('Password Not Matched').css('color', 'red');
                    $('#ChangePwdBtn').css('opacity', '0.5').attr("disabled", true);

                    // Show eye, hide SVG
                    $('.toggle-password1').show();
                    $('.match-icon').hide();
                }
            });

            //$(".toggle-password").click(function () {
            //    $(this).toggleClass("fa-eye fa-eye-slash");
            //    var input = $($(this).attr("toggle"));
            //    if (input.attr("type") == "password") {
            //        input.attr("type", "text");
            //    } else {
            //        input.attr("type", "password");
            //    }
            //});

            $(".toggle-password").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.hasClass("pwd")) {
                    input.removeClass("pwd");
                } else {
                    input.addClass("pwd");
                }
            });

            $(".toggle-password1").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.hasClass("pwd")) {
                    input.removeClass("pwd");
                } else {
                    input.addClass("pwd");
                }

            });
        });


    </script>
</body>

</html>