@model EnterpriseGatewayPortal.Web.ViewModel.Wallet.TestCredentialViewModel
@using EnterpriseGatewayPortal.Web.Models

@{
    ViewBag.Breadcrumb = new List<BreadCrumbModel>
{
        new BreadCrumbModel { Title = "Wallet - Test Credential",Url = "", IconKey="send"},
    };
}
@{
	ViewData["Title"] = " Credentials New";
}
@{
	await Html.RenderPartialAsync("_AlertBox");
}
<style>

	.select2-container {
		width: 100% !important;
	}

		.select2-container .select2-selection--single {
			height: 35px !important;
		}

	.selection {
		width: 100% !important;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		color: #555555b3;
		font-size: 14px;
		font-family: inherit;
	}

	.custom-check-box {
		margin-right: 5px;
		-webkit-print-color-adjust: exact;
		vertical-align: top;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
		position: relative !important;
		width: 1.125rem;
		height: 1.125rem;
		background-color: #fff;
		border: .125rem solid rgba(0,0,0,0.3);
	}

	i {
		color: #808080e0;
	}

	.popup {
		position: relative;
		display: inline-block;
		cursor: pointer;
		float: right;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.popuptext {
		visibility: hidden;
		min-width: 200px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 5px;
		position: relative;
		z-index: 1111;
		right: 3%;
		margin-bottom: 35px;
		margin-top: -60px;
	}
	/* The actual popup */
	.popup .popuptext {
		visibility: hidden;
		min-width: 200px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 5px;
		position: relative;
		z-index: 1111;
		right: 3%;
		/* top: -43%; */
		/* bottom: -28%; */
		margin-bottom: 0px;
		margin-top: -60px;
	}

		/* Popup arrow */
		.popup .popuptext::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}

	.popup:hover + .popuptext {
		visibility: visible;
		-webkit-animation: fadeIn 1s;
		animation: fadeIn 1s;
	}

	.custom-check-box:hover {
		outline: auto;
		outline-color: #5d9ceca3;
	}

	.classshide {
		display: none !important;
	}

	.fieldsetdata {
		display: inline-block; /* Ensures the height adjusts based on the content */
		border: 1px solid #D3D3D3;
		padding: 20px;
		border-radius: 10px;
		width: 100%; /* Allows full width but adjusts height */
		max-width: 1200px;
		box-sizing: border-box; /* Ensures padding is included in width/height calculation */
	}

	#recplist {
		display: flex;
		flex-direction: column;
		gap: 2px; /* Adjust spacing between rows */
	}

	.p-3 {
		padding: 2rem !important;
	}

</style>


<label class="sub-label">Wallet Test Credential</label>
<div class="row" id="spacingCss">

	<div class="col-md-12">
		<div class="card-custom">
			<div class="card-body">
				<form enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-row">

						<div class="form-group col-md-6" style="padding: 1.5rem !important;">
							<div class="p-3">
								<h5 class="mb-3">NOTE:</h5>
								<ul class="ps-3">
									<li class="mb-2"><strong></strong> Before sending a credential for admin approval, it must be tested.</li>
									<li class="mb-2"><strong></strong> Testing the credential requires a valid document ID.</li>
									<li class="mb-2"><strong></strong> The provided document ID is used to fetch the corresponding document data from the Issuer API.</li>
									<li class="mb-2"><strong></strong> If valid document data is received, the credential will be sent for approval.</li>

									@* <li class="mb-2"><strong></strong> If valid document data is received, the document will be assigned to the user for signing.</li>
									<li class="mb-2"><strong></strong> After completing the test credentials, preview and signed consent are required before submitting for activation.</li>
								 *@</ul>
							</div>
						</div>
						<div class="form-group col-md-6">
							
							<div class="card border border shadow" style="height:100%">
								<h5 class="mb-3" style="text-align:center !important; color:#92722A!important">Credential Validation Process</h5>
								<div class="card-body">
									<div class="form-group">
										<label asp-for="UserId" class="col-form-label s3"></label>
										<input asp-for="UserId" class="form-control" placeholder="Enter Document ID" />
										<span asp-validation-for="UserId" class="text-danger"></span>
									</div>
									
								</div>
								<div >

									<div class="d-flex justify-content-end">
										<button class="btn btn-primary uaeid-primary greenButton" id="TestCredentialButton" type="button" onclick="TestCredential('@Html.Raw(Model.CredentialId)', '@Html.Raw(Model.DocumentType)')">
										Test Credential
									</button>

									&nbsp;&nbsp;

										<a asp-action="Index" class="btn btn-other">
										Cancel
									</a>
									</div>
								</div>
							</div>


						</div>
					</div>

					<div style="padding-right: 10px">
						
							<div style="float: left;margin-top: 42px;padding-left: 22px;">
								<b>NOTE: </b>(*) Mark fields are mandatory.
							</div>
						@*   <div class="d-flex justify-content-end">
						<button class="btn btn-primary greenButton" type="button" onclick="TestCredential('@Html.Raw(Model.CredentialId)', '@Html.Raw(Model.DocumentType)')">
						Test Credentail
						</button>

						&nbsp;&nbsp;

						<a asp-action="List" class="btn btn-danger">
						Cancel
						</a>
						</div> *@
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<div class="classshide">
	<div id='viewer'></div>
</div>
@section Scripts {


    <script>

		$(document).ready(function () {

			// var WalletLink = document.getElementById('WalletServiceModle').querySelector('.nav-link');
			// WalletLink.click();
			$('#homeMenu').addClass('breadcrumb-item').append('Wallet > Wallet Credential');
			$('#mainMenu').removeClass('breadcrumb-item');
			$('#subMenu').removeClass('breadcrumb-item');
			$('#CredentialsMenu').addClass('active');
			document.getElementById("navigationNetworkOverlay").style.display = "none";
			$('#networkOverlay').hide();
		});

		$('form').on('keypress', function (e) {
			if (e.key === 'Enter') {
				e.preventDefault(); // Stop the default form submission
				//return false;
				$('#TestCredentialButton').click();
			}
		});

		function TestCredential(CredentialId, DocumentType) {
			const inputValue = $('#UserId').val();
			if ((inputValue == null) || inputValue == '') {
                Swal.fire({
                    icon: 'error',
                    title: "Error",
                    text: "Document ID is mandatory.",
                }).then(() => {
                    return;
                });

			}
			else {
				var testCredentialRequestDTO = {

					UserId: inputValue,
					CredentialId: CredentialId,

				};


				$.ajax({
					type: "POST",
					url: '@Url.Action("TestCredential", "Wallet")',
					data: JSON.stringify(testCredentialRequestDTO),
					contentType: "application/json",
					beforeSend: function () {
						$('#overlay').show();
					},
					complete: function () {

						$('#overlay').hide();
					},
					success: function (data) {

						if (data.success === true) {
						Swal.fire({
							icon: 'success',
							title: "Success",
							text: "Test Credential Successful. Sent for Admin Approval.",
						}).then(() => {
							// Redirect after user closes the alert
							window.location.href = "@Url.Action("Index", "Wallet")";
							// Or if needed, open PDF view instead
							// window.location.href = "@Url.Action("ViewCredentialDetailsPDFView", "Wallet")?id=" + CredentialId;
						});
					}

					if (data.success === false) {
						Swal.fire({
							icon: 'error',
							title: "Error",
							text: data.message,
						}).then(() => {
								window.location.href = "@Url.Action("Index", "Wallet")";
						});
					}



					},
					error: ajaxErrorHandler
				});
			}



		}
    </script>
}