@model EnterpriseGatewayPortal.Web.ViewModel.Wallet.CredentialsViewModel
@using EnterpriseGatewayPortal.Web.Models

@{
    ViewBag.Breadcrumb = new List<BreadCrumbModel>
{
        new BreadCrumbModel { Title = "Wallet - View Credential Details",Url = "", IconKey="view"},
    };
}

@{
    ViewData["Title"] = " Credentials New";
}

<style>

    /*Icon progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: #455A64;
        padding-left: 0px;
        /* margin-top: 30px; */
        width: 144%;
    }

        #progressbar li {
            list-style-type: none;
            font-size: 13px;
            width: 23%;
            float: left;
            position: relative;
            font-weight: 400;
        }

        #progressbar .step0:before {
            font-family: FontAwesome;
            content: "\f10c";
            color: #fff;
        }

        #progressbar li:before {
            width: 40px;
            height: 40px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            background: #C5CAE9;
            border-radius: 50%;
            margin: auto;
            padding: 0px;
        }

        /*ProgressBar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 12px;
            background: #C5CAE9;
            position: absolute;
            left: 0;
            top: 16px;
            z-index: -1;
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: absolute;
            left: -50%;
        }

        #progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after {
            left: -50%;
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            position: absolute;
            left: 50%;
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        /*Color number of the step and the connector before it*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: mediumseagreen;
        }

        #progressbar li.active:before {
            font-family: FontAwesome;
            content: "\f00c";
        }

    .select2-container {
        width: 100% !important;
    }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

    .selection {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #555555b3;
        font-size: 14px;
        font-family: inherit;
    }

    .custom-check-box {
        margin-right: 5px;
        -webkit-print-color-adjust: exact;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        position: relative !important;
        width: 1.125rem;
        height: 1.125rem;
        background-color: #fff;
        border: .125rem solid rgba(0,0,0,0.3);
    }

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        float: right;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        margin-bottom: 35px;
        margin-top: -60px;
    }
    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        min-width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: relative;
        z-index: 1111;
        right: 3%;
        /* top: -43%; */
        /* bottom: -28%; */
        margin-bottom: 0px;
        margin-top: -60px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .popup:hover + .popuptext {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .custom-check-box:hover {
        outline: auto;
        outline-color: #5d9ceca3;
    }

    .classshide {
        display: none !important;
    }

    .logo-container {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 10px;
        background: #f9f9f9;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
        width: 146px;
        height: 135px;
    }

    .logo-img {
        max-width: 180px;
        max-height: 180px;
        border-radius: 5px;
        padding-top: 14px;
        padding-left: 31px;
        width: 108px;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: separate;
    }

    /* hide info text only for #support_table5 */
    #support_table5_wrapper .dataTables_info {
        display: none;
    }

    #support_table5_wrapper {
        padding: 0;
    }

    /* remove sorting arrows only for #support_table5 */
    #support_table5.dataTable thead .sorting:before,
    #support_table5.dataTable thead .sorting:after,
    #support_table5.dataTable thead .sorting_asc:before,
    #support_table5.dataTable thead .sorting_asc:after,
    #support_table5.dataTable thead .sorting_desc:before,
    #support_table5.dataTable thead .sorting_desc:after {
        content: none !important;
    }



    .scroll-wrapper {
        border: 1px solid #ddd;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-height: 332px; /* Maximum allowed height */
    }

    .scroll-header {
        background: #F5F5F5;
        font-size: 14px !important;
        font-weight: 500;
        color: black;
        font-family: 'Inter';
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .scroll-body {
        overflow-y: auto;
        max-height: calc(332px - 42px); /* 332px total - header height */
    }

        .scroll-body table {
            width: 100%;
            border-collapse: collapse;
            margin: 0;
        }

        .scroll-body td {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }

        .scroll-body tr:last-child td {
            border-bottom: none;
        }
        /* Hide scrollbar but allow scrolling */
        .scroll-body::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Edge */
        }

    fieldset {
        border: 1px solid #E2E8F0;
        padding:10px;
        border-radius: 12px;
    }

        fieldset legend {
            font-size: 14px;
            font-weight: 500;
            color: black;
            font-family: 'Inter';
            padding: 0 10px;
            width: auto;
        }
</style>

@{
    await Html.RenderPartialAsync("_AlertBox");
}
<label class="sub-label">View Credential Details</label>
<div class="row" id="spacingCss">
    <div class="col-md-12 plr">
        <div class="card-custom">
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="CreateData">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                        <!-- Left Column -->
                            <div class="col-md-6" style="float:left;">
                                <input asp-for="Id" type="hidden" />

                                <div class="form-group">
                                    <label asp-for="CredentialName" class="col-form-label s3"></label>
                                    <input asp-for="CredentialName" class="form-control" readonly />
                                    <span asp-validation-for="CredentialName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DisplayName" class="col-form-label s3"></label>
                                    <input asp-for="DisplayName" class="form-control" readonly />
                                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="CredentialTrustUrl" class="col-form-label s3"></label>
                                    <input asp-for="CredentialTrustUrl" class="form-control" readonly />
                                    <span asp-validation-for="CredentialTrustUrl" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="AuthenticationScheme" class="col-form-label s3"></label>
                                    <input asp-for="AuthenticationScheme" class="form-control" readonly />
                                    <span asp-validation-for="AuthenticationScheme" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="validity" class="col-form-label s3">Validity(Days)</label>
                                    <input asp-for="validity" class="form-control" readonly />
                                    <span asp-validation-for="validity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Category" class="col-form-label s3"></label>
                                    <input asp-for="Category" class="form-control" readonly />
                                    <span asp-validation-for="Category" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Status" class="col-form-label s3"></label>
                                    <input asp-for="Status" class="form-control" readonly />
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                            </div>

                        <!-- Right Column -->
                        <div class="col-md-6" style="float:left;">
                            <div class="form-group" style="margin-top:5px;">
                                <fieldset id="fieldSetId">
                                    <legend id="legendId">Organization Categories</legend>

                                    @for (int i = 0; i < Model.OrganizationCategories.Count; i++)
                                    {
                                        var category = Model.OrganizationCategories[i];
                                        var isChecked = Model.SelectedOrgCategoryIds.Contains(category.id) ? "checked" : "";
                                        <label style="display: block;">
                                            <input type="checkbox" name="SelectedCategoryIds" value="@category.id" class="custom-check-box orgCategories" style="margin-left:5px;" @isChecked disabled />
                                            @category.categoryName
                                        </label>
                                    }

                                    <label style="display: block;">
                                        <input type="checkbox" id="select-all-categories" class="custom-check-box" style="margin-left:5px;" disabled />
                                        All
                                    </label>
                                </fieldset>

                                <span class="text-danger" id="orgCategoriesErrorSpan" style="color:#dc3545 !important"></span>
                            </div>
                           

                            @if (Model.Status != "ACTIVE")
                            {
                                <div class="form-group">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 id="statusMessage">Status Bar <span class="text-primary font-weight-bold"></span></h5>
                                            <ul id="progressbar" class="list-unstyled text-center">
                                                <li class="active step0">Credential Initiate</li>
                                                <li class="active step0">Test credential processed</li>
                                                <li class="active step0">Sent for Activation</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                @if (Model != null && !string.IsNullOrEmpty(Model.Logo))
                                {
                                    <label asp-for="Logo" class="col-form-label font-weight-bold d-block">Logo</label>
                                    <div class="logo-container p-2">
                                        <img src="data:image/png;base64,@Model.Logo" alt="Logo" class="logo-img img-fluid" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    </div>

                    <!-- Attributes Table -->
                    <div class="form-group col-md-12">
                        <label asp-for="DataAttributes" class="col-form-label s3">Attributes</label>
                        <div class="scroll-wrapper" style="height:222px;">

                            <!-- Scrollable Table -->
                            <div class="scroll-body" style="max-height: 230px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
                                <table class="table-hover" id="AttributeTable">
                                    <thead class="scroll-header" style="position: sticky; top: 0; z-index: 1;">
                                        <tr style="background-color: #F5F5F5; border-bottom: 2px solid #D3D3D3;">
                                            <th style="padding: 12px; text-align: center; border-right: 1px solid #E0E0E0;">Attribute</th>
                                            <th style="padding: 12px; text-align: center; border-right: 1px solid #E0E0E0;">Display Name</th>
                                            <th style="padding: 12px; text-align: center;">Data Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DataAttributes)
                                        {
                                            <tr style="border-bottom: 1px solid #E0E0E0;">
                                                <td style="padding: 10px; border-right: 1px solid #E0E0E0; text-align: center;">@item.Attribute</td>
                                                <td style="padding: 10px; border-right: 1px solid #E0E0E0; text-align: center;">@item.DisplayName</td>
                                                <td style="padding: 10px; text-align: center;">
                                                    @{
                                                        string dataTypeName = item.DataType switch
                                                        {
                                                            1 => "Binary",
                                                            2 => "Boolean",
                                                            3 => "Integer",
                                                            4 => "String",
                                                            8 => "DateTime",
                                                            _ => "Unknown"
                                                        };
                                                        @dataTypeName
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                   

                    <div style="padding-right: 10px">

                        <div style="float: left;margin-top: 14px;padding-left: 22px;">
                            <b>NOTE: </b>(*) Mark fields are mandatory.
                        </div>
                        <div class="d-flex justify-content-end" style="margin-top: 17px;">
                            <a asp-action="Index" class="btn btn-other">Cancel</a>
                            &nbsp;&nbsp;
                            @if (Model.Status == "PENDING")
                            {
                                <button type="button" class="btn btn-primary uaeid-primary greenButton"
                                        onclick="location.href='@Url.Action("TestCredential", new { CredentialUid = Model.CredentialUId })'">
                                    Send for Approval
                                </button>
                            }
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-primary uaeid-primary greenButton"
                                    onclick="showCofigurationInfo('@Model.CredentialUId')">
                                View Configuration Details
                            </button>
                            &nbsp;&nbsp;

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="classshide">
    <div id='viewer'></div>
</div>

<script>

    $(document).ready(function () {

        $("#Wallet-Manager > a")
            .attr("aria-expanded", "true")
            .addClass("active");

        $("#Wallet-Manager")
            .addClass("submenu-active show");

        $("#Wallet-Manager .submenu")
            .addClass("show");

        $('#Wallet-Credentials').addClass('active');
        
        $('#homeMenu').addClass('breadcrumb-item').append('Wallet > Wallet Credential > View');
        $('#mainMenu').removeClass('breadcrumb-item');
        $('#subMenu').removeClass('breadcrumb-item');
        $('#CredentialsMenu').addClass('active');
        document.getElementById("navigationNetworkOverlay").style.display = "none";



        $('#networkOverlay').hide();
    });

    function showCofigurationInfo(CredentialUId) {
        var dataToSend = { CredentialUId: CredentialUId };
        $.ajax({
            url: '@Url.Action("ViewWalletConfigurationDetails", "Wallet")',
            data: dataToSend,
            type: "GET",
            /*contentType: "json",*/
            error: ajaxErrorHandler,
            beforeSend: function () {
                $('#overlay').show();
            },
            complete: function () {
                $('#overlay').hide();
            },
            success: function (data) {
                if (data != null) {
                    $('#modalDialogContentDiv').html(data);
                    $('#modalDialogDiv').modal('show');
                }
                else {
                    Swal.fire({ icon: 'error', title: "Error", text: "Failed to get payment info" });
                }
            },
            error: ajaxErrorHandler

        });
    }

    function TestCredential(CredentialId, DocumentType) {
        Swal.fire({
            title: 'Enter ' + DocumentType + ' ID',
            input: 'text',
            inputPlaceholder: 'Your Document ID',
            showCancelButton: true,
            confirmButtonText: 'Submit',
            cancelButtonText: 'Cancel',
            inputAttributes: {
                'aria-label': 'Document ID'
            }
        })
            .then((result) => {
                if (result.isConfirmed) {
                    // Get the value from the input field
                    const inputValue = result.value;
                    var testCredentialRequestDTO = {

                        UserId: inputValue,
                        CredentialId: CredentialId,

                    };


                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("TestCredential", "Wallet")',
                        data: JSON.stringify(testCredentialRequestDTO),
                        contentType: "application/json",
                        beforeSend: function () {
                            $('#overlay').show();
                        },
                        complete: function () {

                            $('#overlay').hide();
                        },
                        success: function (data) {

                            if (data.success === true) {
                             Swal.fire({
                                icon: 'success',
                                title: "Test Credential",
                                text: data.message,
                                showCancelButton: false,
                            }).then(() => {
                                window.location.href = '@Url.Action("Index", "Wallet")';
                            });
                        }

                        if (data.success === false) {
                            Swal.fire({
                                icon: 'error',
                                title: "Test Credential",
                                text: data.message,
                                showCancelButton: false,
                            }).then(() => {
                                window.location.href = '@Url.Action("Index", "Wallet")';
                            });
                        }


                        },
                         error: ajaxErrorHandler
                    });
                }
            });
    }
</script>