@model EnterpriseGatewayPortal.Web.ViewModel.Wallet.PdfViewModel

<style>

    #td_id{
        text-align: center; /* Centers the content horizontally */
        vertical-align: middle;
    }

    tr {
        page-break-inside: avoid; /* Prevent row from splitting */
    }

    table, thead, tbody {
        page-break-inside: avoid; /* Prevent table from splitting */
    }

    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #f9f9f9;
        color: black;
        margin: 0;
        padding: 20px;
    }

    .pdfView {
        max-width: 900px;
        margin: auto;
        padding: 30px;
        background-color: #fff;
        border-radius: 8px;
        /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
        box-shadow: none !important;
        border: 1px solid #e0e0e0;
        page-break-inside: avoid;
        overflow-x: auto;
    }

    #previewId {
        font-weight: bold;
        color: #2196F3;
        text-align: center;
        margin-bottom: 20px;
        text-decoration: underline;
        /* margin-top: 10px */;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

        table th, table td {
            /* padding: 12px; */
            padding: 8px;
            border-bottom: 1px solid #eee;
            text-align: left;
            font-size: 16px;
            width: 111px;
        }

        table th {
            background-color: #f1f1f1;
            font-weight: 600;
            color: #555;
        }

        table td label {
            font-weight: 500;
            color: #444;
        }

    .data-attributes-title {
        font-size: 18px;
        font-weight: 600;
        color: #333;
        /*padding-bottom: 10px;
         border-bottom: 2px solid #ddd;
            margin-bottom: 15px; */
        margin-bottom: 10px;
    }

    .data-attributes-container {
        padding: 10px;
        background-color: #fafafa;
        border: 1px solid #ddd;
        border-radius: 6px;
        /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
        box-shadow: none !important;
        margin-bottom: 15px;
    }

        .data-attributes-container table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            margin-bottom: auto;
        }

            .data-attributes-container table td {
                padding: 8px;
                font-size: 16px;
                color: #555;
                border-bottom: 1px solid #eee;
            }

            .data-attributes-container table tr:last-child td {
                border-bottom: none;
            }

            .data-attributes-container table td:nth-child(2) {
                width: 25%;
                text-align: center; /* Centers the content horizontally */
                vertical-align: middle; /* Centers the content vertically */
            }


    .col12 {
        border-bottom: 1px solid #ddd;
    }

        .col12:last-child {
            border-bottom: none;
        }

    /* Checkbox Styling */
    .container {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
    }

        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ddd;
        border-radius: 4px;
        transition: background-color 0.2s;
    }

    .container input:checked ~ .checkmark {
        background-color: #007bff;
        border-radius: 4px;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .container input:checked ~ .checkmark:after {
        display: block;
    }

    .container .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

</style>
<div class="card">
    <form id="createDoc" enctype="multipart/form-data">
        <div class="pdfView">
            <h2 id="previewId">PREVIEW</h2>

            <table>
                <tr>
                    <td>Credential Name</td>
                    <td id="td_id">:</td>
                    <td>
                        @if (string.IsNullOrEmpty(Model.CredentialName))
                        {
                            <label>NA</label>
                        }
                        else
                        {
                            <label>@Model.CredentialName</label>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td id="td_id">:</td>
                    <td>
                        @if (string.IsNullOrEmpty(Model.Category))
                        {
                            <label>NA</label>
                        }
                        else
                        {
                            <label>@Model.Category</label>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Authentication Scheme</td>
                    <td id="td_id">:</td>
                    <td>
                        @if (string.IsNullOrEmpty(Model.AuthenticationScheme))
                        {
                            <label>NA</label>
                        }
                        else
                        {
                            <label>@Model.AuthenticationScheme</label>
                        }
                    </td>
                </tr>
                <tr>
                    <td>ID Document</td>
                    <td id="td_id">:</td>
                    <td>
                        @if (string.IsNullOrEmpty(Model.VerificationDocType))
                        {
                            <label>NA</label>
                        }
                        else
                        {
                            <label>@Model.VerificationDocType</label>
                        }
                    </td>
                </tr>
            </table>

            <div class="data-attributes-title">Data Attributes</div>

           @*  @foreach (var orgUser in Model.DataAttributes)
            {
                <div class="data-attributes-container">
                    <table>
                        <tr>
                            <td><label>Attribute</label></td>
                            <td>:</td>
                            <td>
                                @if (string.IsNullOrEmpty(orgUser.Attribute))
                                {
                                    <label>NA</label>
                                }
                                else
                                {
                                    <label>@orgUser.Attribute</label>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><label>Display Name</label></td>
                            <td>:</td>
                            <td>
                                @if (string.IsNullOrEmpty(orgUser.DisplayName))
                                {
                                    <label>NA</label>
                                }
                                else
                                {
                                    <label>@orgUser.DisplayName</label>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><label>DataType</label></td>
                            <td>:</td>
                            <td>
                                @if (orgUser.DataType == null)
                                {
                                    <label>NA</label>
                                }
                                else
                                {
                                    <label>@orgUser.DataType</label>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            } *@

            <table id="AttributeTable" class="table-bordered table-hover table-checkable order-column full-width table">
                <thead>
                    <tr style="background-color: #F5F5F5; border-bottom: 2px solid #D3D3D3;">
                        <th style="padding: 12px; text-align: center; border-right: 1px solid #E0E0E0;">Attribute</th>
                        <th style="padding: 12px; text-align: center; border-right: 1px solid #E0E0E0;">Display Name</th>
                        <th style="padding: 12px; text-align: center;">Data Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DataAttributes)
                    {
                        <tr style="border-bottom: 1px solid #E0E0E0;">
                            <td style="padding: 10px; border-right: 1px solid #E0E0E0; text-align: center;">@item.Attribute</td>
                            <td style="padding: 10px; border-right: 1px solid #E0E0E0; text-align: center;">@item.DisplayName</td>
                            <td style="padding: 10px; text-align: center;">
                                @{
                                    string dataTypeName = item.DataType switch
                                    {
                                        1 => "Binary",
                                        2 => "Boolean",
                                        3 => "Integer",
                                        4 => "String",
                                        8 => "DateTime",
                                        _ => "Unknown"
                                    };
                                    @dataTypeName
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div style="padding-right: 10px; margin-top:15px;">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary greenButton" type="button" onclick="SignAndGeneratePdf()">
                    Sign & Submit
                </button>
                &nbsp;&nbsp;

                <a asp-action="Index" class="btn btn-danger">
                    Cancel
                </a>
            </div>
        </div>
        <div style="display:none">
            <input id="fileInput" asp-for="File" onchange="fileSelect(event)" type="file" accept=".docx,.pdf" autocomplete="off" tabindex="-1">
        </div>
    </form>
</div>
<script>

    var recpemail = "@Model.Email";

    $(document).ready(function () {

           var WalletLink = document.getElementById('WalletServiceModle').querySelector('.nav-link');
           WalletLink.click();
           $('#homeMenu').addClass('breadcrumb-item').append('Wallet > Wallet Credential');
           $('#mainMenu').removeClass('breadcrumb-item');
           $('#subMenu').removeClass('breadcrumb-item');
           $('#CredentialsMenu').addClass('active');
           document.getElementById("navigationNetworkOverlay").style.display = "none";
        $('#networkOverlay').hide();
    });

    function SignAndGeneratePdf(){

        var credential_id = "@Model.CredentialUId";
        var blob; // Declare blob at the top to make it accessible globally

        $.ajax({
            type: "POST",
            headers: {
                "XSRF-TOKEN": $('input[name="__RequestVerificationToken"]').val()
            },
            url: '@Url.Action("GetPDFBytes", "Wallet")',
            data: {
                id: credential_id
            },
            dataType: "json",
            beforeSend: function () {
                $('#overlay').show();
            },
            complete: function () {
                $('#overlay').hide();
            },
            success: function (data) {
                if (data.status == "Success") {
                    var myBytes = base64ToArrayBuffer(data.result);
                    blob = new Blob([myBytes], { type: "application/pdf" });

                    // ✅ Create a File object from Blob
                    var file = new File([blob], 'Credential_Report.pdf', { type: 'application/pdf' });

                    // ✅ Use DataTransfer to assign the file to the input element
                    var dataTransfer = new DataTransfer();
                    dataTransfer.items.add(file);

                    var fileInput = document.querySelector('input[type="file"]');
                    fileInput.files = dataTransfer.files;

                    // ✅ After blob is set, proceed to save the document
                    uploadDocument(blob);
                }
                if (data.status == "Failed") {
                    Swal.fire({ icon: 'error', title: "Error", text: data.message });
                }
            },
            error: ajaxErrorHandler
        });

        function uploadDocument(blob) {
            let signCordinates = {};
            signCordinates[recpemail] = {
                posX: 399,
                posY: 590.799988,
                PageNumber: 1,
                width: 150,
                height: 20
            };

            var config = {
                Signature: signCordinates,
                Eseal: null,
                Qrcode: null
            };

            var credentialUid = "@Model.CredentialUId";

            // ✅ FormData setup
            var fileFormData = new FormData();
            fileFormData.append("File", blob, "Credential_Report");
            fileFormData.append("DocumentName", "Credential_Report");
            fileFormData.append("Config", JSON.stringify(config));
            fileFormData.append("CredentialUId", credentialUid);

            SaveDocument("@Url.Action("SaveNewDocument", "Wallet")", fileFormData, blob)
                .then((response) => {
                    if (response.status === "Success") {
                        Swal.fire({
                            icon: "success",
                            title: "Success",
                            text: response.message,
                        }).then(() => {
                            window.location.href = '@Url.Action("Index", "Wallet")';
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: response.message,
                        }).then(() => {
                            window.location.href = '@Url.Action("Index", "Wallet")';
                        });
                    }
                })
                .catch((e) => {
                    console.error(e);
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "Something went wrong!",
                    }).then(() => {
                        window.location.href = '@Url.Action("Index", "Wallet")';
                    });
                });

        }
    }


       function SaveDocument(url, formData, blob) {
           var fileBlob = blob;
             return new Promise(function (resolve, reject) {
                var formdata = formData;
                var urldata = url;

                    // Proceed with the AJAX call
                    $.ajax({
                        url: url,
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        method: 'POST',
                        beforeSend: function () {
                             $('#overlay6').show();
                        },
                        complete: function () {
                            $('#overlay6').hide();
                        },
                        success: function (data) {
                            if (data.status == "Success") {
                                resolve(data);
                            }
                            else {
                                if (data.message == "Credits are not available" || data.message == "Eseal credits are not available") {
                                    Swal.fire({
                                        icon: 'info',
                                        title: "Info",
                                        text: data.message
                                    }).then(() => {
                                        window.location.href = '@Url.Action("Index", "Wallet")';
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'info',
                                        title: "Info",
                                        text: data.message,
                                        showCancelButton: true,
                                        confirmButtonText: 'Retry'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            signRetry(data, blob);
                                        } else {
                                            window.location.href = '@Url.Action("Index", "Wallet")';
                                        }
                                    });
                                }
                            }
                        },
                        error: function (err) {
                            reject(err);
                        }
                    });

            });


     }

           function signRetry(data, blob) {
                var parsedModel = JSON.parse(data.result.model);
                var credentialUid = "@Model.CredentialUId";
                var credentialRetryViewModel = new FormData();
                credentialRetryViewModel.append("File", blob, "Credential_Report");
                credentialRetryViewModel.append("Config", JSON.stringify(parsedModel));
                credentialRetryViewModel.append("CredentialUId", credentialUid);

                $.ajax({

                    url: "@Url.Action("SendSigningRequest", "Wallet")",
                    method: 'POST',
                    data: credentialRetryViewModel,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                         $('#overlay6').show();
                    },
                    complete: function () {
                        $('#overlay6').hide();
                    },
                    success: function (response) {
                        if (response.status === "Success") {

                        Swal.fire({
                            icon: "success",
                            title: "Success",
                            text: response.message
                        }).then(() => {
                            window.location.href = '@Url.Action("Index", "Wallet")';
                        });

                    } else {
                        if (response.message === "Credits are not available" || response.message === "Eseal credits are not available") {
                            Swal.fire({
                                icon: 'info',
                                title: "Info",
                                text: response.message
                            }).then(() => {
                                window.location.href = '@Url.Action("Index", "Wallet")';
                            });
                        } else {
                            Swal.fire({
                                icon: 'info',
                                title: "Info",
                                text: response.message,
                                showCancelButton: true,
                                confirmButtonText: 'Retry',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    signRetry(data);
                                } else {
                                    window.location.href = '@Url.Action("Index", "Wallet")';
                                }
                            });
                        }
                    }

                    },
                    error: function (error) {
                        setTimeout(function () {
                            ajaxErrorHandler(error);
                        }, 400);
                    }
                });
            }

     function saveByteArray(name, bytes) {
            var myBytes = base64ToArrayBuffer(bytes);
             blob = new Blob([myBytes], { type: "application/pdf" });
            // var link = document.createElement('a');
            // link.href = window.URL.createObjectURL(blob);
            // let fileName = name + ".pdf";
            // link.download = fileName;
            // link.click();

             // Create a File object from Blob
            var file = new File([blob], 'Credential_Report.pdf', { type: 'application/pdf' });

            // Use DataTransfer to assign the file to the input element
            var dataTransfer = new DataTransfer();
            dataTransfer.items.add(file);

            // Assign file to input
            var fileInput = document.querySelector('input[type="file"]');
            fileInput.files = dataTransfer.files;
     }

        function base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }

</script>