@model List<EnterpriseGatewayPortal.Web.Models.Users.User>
@using EnterpriseGatewayPortal.Web.Models

@{
    ViewBag.Breadcrumb = new List<BreadCrumbModel>
{
        new BreadCrumbModel { Title = "Administration - Users", Url = "",IconKey = "adminUsers"}
    };
}


@{
    ViewData["Title"] = "Users";
}

@{
    await Html.RenderPartialAsync("_AlertBox");
}
@{
    var hasData = Model != null && Model.Count() > 0;
}
<style>
    .classshide {
        display: none !important;
    }
</style>
@if (Model == null || Model.Count() == 0)
{
    <style>
        table {
            height: 70% !important;
        }

        .table-hover > tbody > tr:hover > td {
            background: none !important;
        }

        body {
            overflow: hidden;
        }

        /* Apply 100% height to all DataTables wrappers */
        .dataTables_wrapper {
            height: 100% !important;
        }

            /* Apply 100% height only to the second .row inside any DataTables wrapper */
            .dataTables_wrapper > .row:nth-of-type(2) {
                height: 100% !important;
            }

        td:not([style*="display: none"]) {
            border-bottom-right-radius: 12px !important;
            border-bottom-left-radius: 12px !important;
        }
    </style>
}

<div class="classshide">
    <div id='viewer'></div>
</div>
<div class="row" style="height:100%;">
    <div class="col-md-12 plr">

        <div class="card-body">

            <div class="row align-items-center justify-content-between" style="padding-left: 15px; padding-right: 15px;">
                <!-- Left: Search bar (will be injected by DataTables) -->
                <div class="col-md-6 col-sm-12 d-flex align-items-center plr" id="custom-search-container"></div>

                <!-- Right: Buttons -->
                <div class="col-md-6 col-sm-12 plr text-right">
                    <div class="btn-group">

                        <a class="btn btn-other" asp-action="List">
                            <img src="~/assets/images/refresh.png"
                                 alt="refresh Icon"
                                 width="17" height="17"
                                 style=" margin-right: 7px; opacity: 1; position: relative; bottom: -2px;">Refresh
                        </a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                        @* <a id="addRow1" class="btn btn-primary uaeid-primary" onclick="add()"><i class="fa fa-plus"></i>Add</a> *@
                        <a id="addRow1" class="btn btn-primary uaeid-primary" onclick="add()">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding-top:2.5px;">
                                <path d="M15.5 8C15.5 8.16576 15.4342 8.32473 15.3169 8.44194C15.1997 8.55915 15.0408 8.625 14.875 8.625H8.625V14.875C8.625 15.0408 8.55915 15.1997 8.44194 15.3169C8.32473 15.4342 8.16576 15.5 8 15.5C7.83424 15.5 7.67527 15.4342 7.55806 15.3169C7.44085 15.1997 7.375 15.0408 7.375 14.875V8.625H1.125C0.95924 8.625 0.800269 8.55915 0.683058 8.44194C0.565848 8.32473 0.5 8.16576 0.5 8C0.5 7.83424 0.565848 7.67527 0.683058 7.55806C0.800269 7.44085 0.95924 7.375 1.125 7.375H7.375V1.125C7.375 0.95924 7.44085 0.800269 7.55806 0.683058C7.67527 0.565848 7.83424 0.5 8 0.5C8.16576 0.5 8.32473 0.565848 8.44194 0.683058C8.55915 0.800269 8.625 0.95924 8.625 1.125V7.375H14.875C15.0408 7.375 15.1997 7.44085 15.3169 7.55806C15.4342 7.67527 15.5 7.83424 15.5 8Z" fill="white" />
                            </svg>
                            Add
                        </a>

                    </div>

                </div>
            </div>

            <table id="scopesTable" class="table-striped table-bordered table-hover table-checkable order-column full-width table @(Model == null || Model.Count() == 0 ? "empty-table" : "")">
                <thead>
                    <tr>
                        <th>FullName</th>
                        <th>Email</th>
                        @* <th>Role</th> *@
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null || Model.Count() == 0)
                    {
                        <tr>
                            <td style="display: none;"></td>
                            <td style="text-align:center" valign="top" colspan="6" class="dataTables_empty">
                                <img class="NoRecordsCls" src="~/assets/images/No-Records-icon.svg" alt="No records" style=" display:block; margin:0 auto 8px;">
                                <p class="NoRecordFound-paragarph">No records found</p>
                                <p class="NoRecordTable-Text">Get started by clicking on 'Add'</p>
                            </td>

                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX">

                                <td>@item.FullName</td>
                                <td>@item.MailId</td>
                                @* <td>@item.Role</td> *@
                                @* <td>@item.Status</td>*@
                                <td>
                                    @if (string.IsNullOrWhiteSpace(item.Status))
                                    {
                                        <span class="status-tag status-na">N/A</span>
                                    }
                                    else
                                    {
                                        var status = item.Status.Trim().ToLower();
                                        var statusCapitalized = char.ToUpper(status[0]) + status.Substring(1);
                                        var cssClass = status switch
                                        {
                                            "active" => "status-tag status-active",
                                            "failed" => "status-tag status-failed",
                                            "In Progress" => "status-tag status-inprogress",
                                            _ => "status-tag status-na"
                                        };
                                        <span class="@cssClass">@statusCapitalized</span>
                                    }
                                </td>
                                <td class="valigntop">

                                    @* @if (!User.IsInRole("Scopes Checker"))
                                        {*@

                                    <div class="">
                                        <button class="btn btn-xs deepPink-bgcolor no-margin" type="button" data-toggle="dropdown" style="font-size:0.8rem;"
                                                aria-expanded="false">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left" role="menu">

                                            <li class="table-dropdown-li">
                                                <a asp-action="Edit" asp-route-id="@item.Id" onclick="document.getElementById('navigationNetworkOverlay').style.display='block'">
                                                    <img src="~/assets/images/Pencil-edit-icon.svg" alt="edit" style="position: relative;bottom: 1px;width: 18px;height: 18px;" />Edit
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    @*}*@
                                    @* else
                                        {

                                            <div class="btn-group">
                                                <button class="btn btn-xs deepPink-bgcolor no-margin" type="button" data-toggle="dropdown"
                                                        aria-expanded="false">
                                                    Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-left" role="menu">
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@item.Id">
                                                            <i class="icon-pencil"></i>View
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>



                                        }*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {


            $('#usersMenu').addClass('active');
            if ($('#sidebar ul li.dropdown.active')) {
                $('#sidebar ul li.dropdown.active ul').addClass('show');
                $('#eSeal').addClass('active');
                $('#sidebar ul li.dropdown.active a.nav-link.drop-logo').attr('aria-expanded', 'true');
            }

            $("#Administration > a")
                .attr("aria-expanded", "true")
                .addClass("active");

            $("#Administration")
                .addClass("submenu-active show");

            $("#Administration .submenu")
                .addClass("show");

            $('#Users').addClass('active');

            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Users');
            $('#mainMenu').removeClass('breadcrumb-item');
            $('#subMenu').removeClass('breadcrumb-item');
            $('#networkOverlay').hide();
            var table = $("#scopesTable").DataTable({
                "bLengthChange": false,
                "searching": true,
                 "paging": @hasData.ToString().ToLower(),
                 "info": @hasData.ToString().ToLower(),
                 "initComplete": function () {
                    // Move the search bar into our custom container
                    $(".dataTables_filter").appendTo("#custom-search-container");
                    $('.dataTables_filter input[type="search"]').attr('placeholder', 'Search');
                    $('.dataTables_filter label').contents().filter(function () {
                        return this.nodeType === 3;
                    }).remove();

                }
            });

            var table = $("#scopesTable");
            $('#scopesTable').on('click', '.js-delete', function () {
                var deleteButton = $(this);
                var id = deleteButton.attr("data-id");
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want to delete this record?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            cache: false,
                            dataType: 'json',
                            url: '@Url.Action("Delete", "Users")',
                            data: {
                                id: id
                            },
                            beforeSend: function () {
                                $('#overlay').show();
                            },
                            complete: function () {
                                $('#overlay').hide();
                            },
                            success: function () {
                                Swal.fire("Deleted!", "The record has been deleted.", "success").then(() => {
                                    window.location.reload();
                                });
                            },
                            error: ajaxErrorHandler
                        });
                    }
                });

            });
        });
                function add() {
            document.getElementById("navigationNetworkOverlay").style.display = "block";
            window.location.href = '@Url.Action("New", "Users")';
        }

    </script>
}
